.app-007{
    &__col {
    display: -webkit-box;
    display: flex;

    background: linear-gradient(0deg, rgba(23, 64, 105, 0.1) 0%, rgba(17, 17, 17, 0) 100%);
    border: 1px solid #174069;
    // border-radius: 5px;
    -webkit-animation: entrance 400ms 800ms linear backwards 1;
    animation: entrance 400ms 800ms linear backwards 1;  

}
}