/*
Rich Text Editor

Styleguide 3.0
*/

/*
Hyperlink

markup:
<div class="c-rte">
  <a href="http://google.com" class="c-rte__link">ee a full list of our upcoming states</a>
</div>

sg-wrapper:
<section>
  <div class="container">
    <sg-wrapper-content/>
  </div>
</section>

Styleguide 3.1
*/

// .c-rte a,
// .c-rte__link {
//   &,
//   &:hover,
//   &:focus {
//     @include default($color: $black);
//     font-weight: $font-bold;
//   }
// }

/*
Numbered List

markup:
<div class="c-rte">
  <ol>
    <li>List item 1</li>
    <li>List item 2</li>
    <li>List item 3</li>
    <li>List item 4</li>
    <li>List item 5</li>
  </ol>
</div>

sg-wrapper:
<section>
  <div class="container">
    <sg-wrapper-content/>
  </div>
</section>

Styleguide 3.2
*/

// .c-rte {
//   ul,
//   ol {
//     margin-bottom: 2rem;
//     margin-top: 2rem;
//     list-style: none;
//     padding-left: 0;

//     li {
//       line-height: 1.5;
//       margin-bottom: .75em;
//       margin-top: .75em;
//       padding-left: 25px;

//       &:last-child {
//         margin-bottom: 0;
//       }

//       &:after {
//         content: '';
//         display: block;
//         margin-bottom: .5em;
//       }
//     }
//   }
// }

// .c-rte {
//   ol {
//     li {
//       @include default($color: $black);
//       counter-increment: table-ol;

//       &:before {
//         content: counter(table-ol) ".";
//         position: absolute;
//         left: 0;
//       }
//     }
//   }
// }

/*
Bulleted List

markup:
<div class="c-rte">
  <ul>
    <li>List item 1</li>
    <li>List item 2</li>
    <li>List item 3</li>
    <li>List item 4</li>
    <li>List item 5</li>
  </ul>
</div>

sg-wrapper:
<section>
  <div class="container">
    <div class="content-grid">
      <sg-wrapper-content/>
    </div>
  </div>
</section>

Styleguide 3.3
*/

// .c-rte {
//   ul {
//     li {
//       @include default($color: $black);
//       &:before {
//         font-size: 25px;
//         line-height: 1.2;
//         content: '\00b7';
//         position: absolute;
//         left: 0;
//       }
//     }
//   }
// }

/*
Columnar Text

markup:
<div class="c-rte__columns">
  <h3>Emerge Arizona (3)</h3>
  <a href="#">Katie Hobbs—Arizona Secretary of State, Running in 2018</a>
  <p>Laura Pastor—Maricopa County Supervisor</p>
  <p>Zofia Rawner—Phoenix City Council</p>
</div>
<div class="c-rte__columns">
  <h3>Emerge California (3)</h3>
  <p>Kimberly Ellis—California Democratic Party Chair</p>
  <a href="#">Sara Hernandez—US Congress, CA – 34 (lost in the primary)</a>
  <p>Anna Pletcher—Marin County District Attorney, Running in 2018</p>
</div>
<div class="c-rte__columns">
  <h3>Emerge California (3)</h3>
  <p>Kimberly Ellis—California Democratic Party Chair</p>
  <a href="#">Sara Hernandez—US Congress, CA – 34 (lost in the primary)</a>
  <p>Anna Pletcher—Marin County District Attorney, Running in 2018</p>
</div>

sg-wrapper:
<section>
  <div class="container">
    <div class="content-grid">
      <sg-wrapper-content/>
    </div>
  </div>
</section>

Styleguide 3.5
*/

// .c-rte__columns {
//   @include grid-column(12, $no-gutter);
//   columns: 1;
//   margin-bottom: 50px;

//   &:last-child {
//     margin-bottom: 0;
//   }

//   @include grid-media($md) {
//     columns: 2;
//   }

//   h3 {
//     @include type-5($color: $black);
//     margin-top: 0;
//   }

//   p {
//     &:first-child {
//       margin-top: 0;
//     }
//     &:last-child {
//       margin-bottom: 0;
//     }
//   }

//   a {
//     text-decoration: underline;
//     text-underline-position: under;

//     &:after {
//       display: none;
//     }
//   }
// }

/*
Image with Caption

markup:
<div class="c-rte__image">
  <img src="/emergeamerica/wp-content/themes/emergeamerica/assets/img/rte-img.jpg">
  <div class="wp-caption-text">
    <p>Photo caption text goes here lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque molestie efficitur lorem nec tempus. Aenean efficitur nisl id diam sollicitudin. Suspendisse pulvinar posuere odio.</p>
  </div>
</div>

sg-wrapper:
<section>
  <div class="container">
    <div class="content-grid">
      <sg-wrapper-content/>
    </div>
  </div>
</section>

Styleguide 3.6
*/

// .wp-caption {
//   width: 100% !important;
//   max-width: 750px;

//   img {
//     width: 100%;
//     height: auto;
//     margin-top: 57px;
//   }
// }

// .wp-caption-text {
//   margin-top: 35px;
//   margin-bottom: 0;

//   &,
//   p {
//     @include type-custom($color: $black, $font-family: $sans-stack, $font-weight: $font-bold, $font-size: 14px, $line-height: 1.5);
//   }
// }

/*
Contact Form
*/

// .c-rte__contact-form {
//   background: $gray;
//   padding: 50px 0;

//   .nf-field-element {
//     input {
//       height: 50px;
//     }
//   }

//   .nf-form-fields-required {
//     display: none;
//   }

//   .nf-form-title,
//   h3 {
//     @include type-custom($color: $gray, $font-family: $sans-stack, $font-weight: $font-bold, $font-size: 18px, $line-height: 1.5);
//     margin-top: 0;
//     margin-bottom: 25px;
//   }

//   h3 {
//     padding-left: 65px;
//   }

//   .nf-field-label label,
//   label {
//     @include type-custom($color: $gray, $font-family: $sans-stack, $font-weight: $font-normal, $font-size: 14px, $line-height: 1.5);
//   }

//   nf-fields-wrap {
//     @include grid-media($md) {
//       @include grid-collapse;
//       @include grid-container;

//       display: flex;
//       flex-wrap: wrap;
//     }
//   }

//   nf-field {
//     @include grid-column(12);

//     &:first-child,
//     &:nth-child(6) {
//       @include grid-column(12);
//     }

//     @include grid-media($md) {
//       @include grid-column(6);
//     }

//     input[type="button"] {
//       @extend .button;
//       @extend .button--large;
//     }
//   }
// }

/*
  Link
*/

// .c-rte {
//   a {
//     &:after {
//       content: '';
//       position: absolute;
//       bottom: 0;
//       left: 50%;
//       right: 50%;
//       height: 1px;
//       background: $black;
//       transition: all .4s ease;
//     }

//     &:hover,
//     &:focus {
//       color: $gray;

//       &:after {
//         left: 0;
//         right: 0;
//       }
//     }
//   }
// }

// Clear fix for heading
// .c-rte {
//   h1,
//   h2,
//   h3,
//   h4,
//   h5,
//   p {
//     clear: both;
//   }

//   p {
//     &:last-child {
//       margin-bottom: 0;
//     }
//   }
// }

// Youtube Embed iframe override
.c-rte {
  iframe {
    width: 100%;
  }
}
