// TYPOGRAPHY

$font-thinnest: 100;
$font-thinner: 200;
$font-thin: 300;
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

$sans-stack: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
$headlines: 'Montserrat', $sans-stack;
$serif-stack: 'Georgia', Times, Times New Roman, serif;

@mixin default($color: $black) {
  color: #{$color};
  font-family: $sans-stack;
  font-size: 18px;
  font-weight: $font-normal;
  line-height: 1.67;
}

@mixin type-1($color: $black) {
  color: #{$color};
  font-family: $headlines;
  font-size: 48px;
  font-weight: $font-semibold;
  line-height: 1.2;
}

@mixin type-2($color: $black) {
  color: #{$color};
  font-family: $headlines;
  font-size: 36px;
  font-weight: $font-semibold;
  line-height: 1.2;
}

@mixin type-3($color: $black) {
  color: #{$color};
  font-family: $headlines;
  font-size: 28px;
  font-weight: $font-semibold;
  line-height: 1.2;
}

@mixin type-4($color: $black) {
  color: #{$color};
  font-family: $headlines;
  font-size: 24px;
  font-weight: $font-semibold;
  line-height: 1.2;
}

@mixin type-5($color: $black) {
  color: #{$color};
  font-family: $headlines;
  font-size: 20px;
  font-weight: $font-semibold;
  line-height: 1.2;
}

@mixin type-6($color: $black) {
  color: #{$color};
  font-family: $headlines;
  font-size: 12px;
  font-weight: $font-semibold;
  letter-spacing: 1px;
  line-height: 1.2;
}

@mixin type-custom($color: #{$color}, $font-family: #{$font-family}, $font-weight: #{$font-weight}, $font-size: #{$font-size}, $line-height: #{$line-height} ) {
  color: #{$color};
  font-family: #{$font-family};
  font-size: #{$font-size};
  font-weight: #{$font-weight};
  line-height: #{$line-height};
}

/*
Header vs Body Text

markup:
<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<p>Body 1</p>
<p class="small-text">Body 2</p>

sg-wrapper:
<sg-wrapper-content/>

Styleguide 3.4
*/

h1,
h2,
h3,
h4,
h5 {
  color: $black;
  margin-bottom: 0.7em;
  margin-top: 1.5em;
}

// HEADING TEXT 1
h1 {
  @include type-1;
}

// HEADING TEXT 2
h2 {
  @include type-2;
}

// HEADING TEXT 3
h3 {
  @include type-3;
}

// HEADING TEXT 4
h4 {
  @include type-4;
}

// HEADING TEXT 5
h5 {
  @include type-5;
}

// BODY TEXT

body {
  @include default;
}

p {
  @include default;

  margin-bottom: 20px;
  margin-top: 20px;

  &.small-text {
    @include type-6;
  }
}

strong {
  font-weight: $font-bold;
}

em {
  font-style: italic;
}
