// TYPOGRAPHY
$oxanium: 'Oxanium';

%h1 {
  font-family: $oxanium;
}

%h2 {
  font-family: $oxanium;
}

%h3 {
  font-family: $oxanium;
}

%h4 {
  font-family: $oxanium;
}

%h5 {
  font-family: $oxanium;
}

%h6 {
  font-family: $oxanium;
}

@mixin h1() {
  @extend %h1;
}

@mixin h2() {
  @extend %h2;
}

@mixin h3() {
  @extend %h3;
}

@mixin h4() {
  @extend %h4;
}

@mixin h5() {
  @extend %h5;
}

@mixin h6() {
  @extend %h6;
}


/* Heading 1 */
h1 {
  @include h1;
}

/* Heading 2 */
h2 {
  @include h2;
}

/* Heading 3 */
h3 {
  @include h3;
}


/* Heading 4 */
h4 {
  @include h4;
}


/* Heading 5 */
h5 {
  @include h5;
}


/* Heading 6 */
h6 {
  @include h6;
}


