/**
* Utility classes
*/

/**
* Wordpress image alignment
*/
.alignright {
  float: none;
}

.alignleft {
  float: none;
}

.aligncenter {
  margin: 0 auto;
  max-width: 100%;
}

.no-margin--top {
  margin-top: 0;
}

.overlap-top {
  margin-top: -85px;
}

.push-right {
  float: right;
}
